body {
    font-family: Arial, sans-serif;
    background-color: #00A8E0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}
.contenedor {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    width: 400px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00A8E0;
    border-radius: 5px;
}
button {
    background-color: #0076A8;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #005f87;
}
.logo {
    width: 100px;
    margin-bottom: 10px;
}
.nueva-venta {
    background-color: #00A8E0;
}
.nueva-venta:hover {
    background-color: #0076A8;
}
